@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color:black;
}


li, a, button {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:black;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: rgb(18, 100, 133);
}


.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding:0px 20px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    color:rgb(253, 253, 253)
}

button{
    padding: 9px 25px;
    background-color: rgb(255, 3, 3);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: bold;
}

button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}


/* The following are only for the table in student.php*/
.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 700px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.content-table thead tr{
    background-color: aqua;
    color:white;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td{
    padding: 12px 15px;
}

.content-table tbody tr:nth-of-type(even){
    background-color:rgb(255, 0, 0);
}

.content-table tbody tr:last-of-type{
    border-bottom: 3px solid aqua;
}

.form{ 
    width: 180px;
    height: 100px;
    border: 1px 100px rgb(200,200,200);
    padding:10px;
}

.form input{
    width: 80%;
}